{% extends "tasks/base.html" %}
{% block content %}
{% for task in tasks %}
{% if not task.status %}
{% if request.user.id == task.worker.id%}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ task.worker.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <p class="mr-2">
        Assigned to <a href="{% url 'profile-user' user.id%}">{{ task.worker }}</a>. Status:
        <a style="color:red">In progress</a>
        <small class="text-muted">{{ task.date_posted|date:"d F Y" }}</small>
      </p>
    </div>
    <h2><a class="article-title" href="{% url 'task-detail' task.id%}">{{ task.title }}</a></h2>
    <p class="article-content">{{ task.content }}</p>
  </div>
</article>
{% endif %}
{% endif %}
{% endfor %}
{% endblock content %}
